[submodule "aap_autodeploy_configascode"]
	path = aap_autodeploy_configascode
	url = https://github.com/kvegh/aap_autodeploy_configascode.git
[submodule "AIOps_selfhealing_demo"]
	path = AIOps_selfhealing_demo
	url = https://github.com/kvegh/aiops-selfhealing-demo.git
[submodule "automation-orchestrator"]
	path = automation-orchestrator
	url = https://github.com/kvegh/automation-orchestrator.git
[submodule "ServiceNow-ITSM-Integration"]
	path = ServiceNow-ITSM-Integration
	url = https://github.com/kvegh/ServiceNow-ITSM-Integration.git
[submodule "intelligent-assistant"]
	path = intelligent-assistant
	url = https://github.com/kvegh/intelligent-assistant.git
[submodule "config_exceptions_ng"]
	path = config_exceptions_ng
	url = https://github.com/kvegh/config_exceptions_ng.git
[submodule "disconnected-windows-patching"]
	path = disconnected-windows-patching
	url = https://github.com/kvegh/disconnected-windows-patching.git
[submodule "automation_portal_setup"]
	path = automation_portal_setup
	url = https://github.com/kvegh/automation_portal_setup.git
