[defaults]
collections_path = ./collections:~/.ansible/collections

[galaxy]
server_list = pah

[galaxy_server.pah]
url = https://aap.supercorp.at/api/galaxy/content/rh-certified/
token = SET_VIA_AUTOMATION_HUB_UI
validate_certs = false
