redhat-developer-hub:
    global:
        clusterRouterBase: "{{ ocp_cluster_router_base }}"
        pluginMode: "{{ plugin_mode }}"
        imageTagInfo: "{{ image_tag_info }}"
    upstream:
        backstage:
            appConfig:
                ansible:
                    rhaap:
                        checkSSL: {{ portal_check_ssl | lower }}
                catalog:
                    providers:
                        rhaap:
                            '{% raw %}{{- include "catalog.providers.env" . }}{% endraw %}':
                                orgs: "{{ aap_organization }}"
