# {{ ansible_managed }}
# AAP Container growth deployment topology (all-in-one)

[automationgateway]
{{ aap_hostname }}

[automationcontroller]
{{ aap_hostname }}

[automationhub]
{{ aap_hostname }}

[automationeda]
{{ aap_hostname }}

[automationmetrics]
{{ aap_hostname }}

[ansiblemcp]
{{ aap_hostname }}

[database]
{{ aap_hostname }}

[all:vars]
ansible_connection=local

bundle_install=true
bundle_dir={{ installer_extract_dir }}/{{ installer_dir_name }}

registry_username={{ registry_username }}
registry_password={{ registry_password }}

postgresql_admin_username=postgres
postgresql_admin_password={{ postgresql_admin_password }}

redis_mode={{ redis_mode }}

gateway_admin_password={{ gateway_admin_password }}
gateway_pg_host={{ aap_hostname }}
gateway_pg_password={{ gateway_pg_password }}

controller_admin_password={{ controller_admin_password }}
controller_pg_host={{ aap_hostname }}
controller_pg_password={{ controller_pg_password }}
controller_percent_memory_capacity={{ controller_percent_memory_capacity }}

hub_admin_password={{ hub_admin_password }}
hub_pg_host={{ aap_hostname }}
hub_pg_password={{ hub_pg_password }}
hub_seed_collections={{ hub_seed_collections }}

eda_admin_password={{ eda_admin_password }}
eda_pg_host={{ aap_hostname }}
eda_pg_password={{ eda_pg_password }}

automationmetrics_pg_host={{ aap_hostname }}
automationmetrics_pg_password={{ automationmetrics_pg_password }}
automationmetrics_controller_read_pg_host={{ aap_hostname }}
automationmetrics_controller_read_pg_password={{ automationmetrics_controller_read_pg_password }}

mcp_allow_write_operations={{ mcp_allow_write_operations }}

gateway_extra_settings=[{"setting": "RUNTIME_FEATURE_FLAGS", "value": "@bool True"}]
